.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  padding: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.containerProfile {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.avatar {
  width: calc(10rem + 12px);
  height: calc(10rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--blue-500);
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.profile strong {
  display: block;
}

.profile > strong {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  color: #e1e1e6;
}

.profile span {
  font-size: 1rem;
  color: #7c7c8a;
}

.followers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 0.875rem;
  color: #7c7c8a;
}

.followers i {
  font-size: 1rem;
  vertical-align: middle;
}

.followers strong {
  display: inline;
  color: #e1e1e6;
  font-weight: 600;
}

.followers span::after {
  content: " ·";
  margin-left: 6px;
  color: #7c7c8a;
}

.followers span:last-child::after {
  content: "";
}

.containerEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.email {
  font-size: 0.875rem;
  color: #c4c4cc;
}
