.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 4rem;
  color: var(--gray-600);
  text-align: center;
}

.container i {
  font-size: 3rem;
  color: var(--gray-700);
}

.container h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-300);
  margin: 0;
}

.container p {
  font-size: 0.875rem;
  margin: 0;
}
